html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        title Feeback
    
    body
        font(size="5")
            .row
                label(style="float:left;margin-top:4px") Reason:
                select(name="reason" id="reason" style="margin-left:10px;font-size:16px")
                    option(value="queue_length") Queue Length
                    option(value="waiting_time") Waiting Time
                    option(value="service") Service
                
                input(type="radio" name="satis" value="satis" class="satis")
                label Satisfactory
                input(type="radio" name="satis" value="not_satis" class="satis")
                label Not Satisfactory

                p Would you return to our supermarket outlet again? If no, Why?
                input(type="radio" name="return" value="yes" class="return")
                label Yes
                input(type="radio" name="return" value="no" class="return")
                label No

            .row(style="margin-top:10px")
                label(style="float:left;") Feedback:
                textarea(type="text" id="feedback" style="width:200px;height:100px;margin-left:5px")
            
            input(type="button" value="Submit" style=";font-size:16px" onclick="submit()")


        script.
            id='#{id}';    
            function submit(){
                option=$('.option:checked').val()
                reason=$('#reason').val();
                feedback=$('#feedback').val();
                satis=$('.satis:checked').val()
                rtr=$('.return:checked').val()
                data={
                    survey_id:id,
                    reason:reason,
                    satisfied:satis,
                    return:rtr,
                    feedback:feedback,
                    option:option
                    }
                //- alert(JSON.stringify(data));
                $.post("/save",data,function(data,status){
                    alert(data);
                    $(location).attr('href','/thank');
                })
            }
