doctype html
html
	head
		title Add new movie | Jennifer Bland
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
	body
		.container
			br
			h1 Movies in Database
			table.table.table-striped
				tr
					th Title
					th Year
					th IMDB
				|                 {% for movie in movies %}
				tr
					td {{movie.title}}
					td {{movie.year}}
					td {{movie.imdb}}
				|                 {% endfor %}
			hr
			h1 Enter details below to add your movie
			form(action="/", method="POST", role="form")
				.form-group
					label(for="movieTitle") Title
					input#movietTitle.form-control(type="text", name="movieTitle", placeholder="Title", required="")
				.form-group
					label(for="movieYear") Year
					input#movieYear.form-control(type="text", name="movieYear", placeholder="Year", required="")
				.form-group
					label(for="movieIMDB") IMDB
					input#movieIMDB.form-control(type="text", name="movieIMDB", placeholder="IMDB", required="")
				button.btn.btn-primary(type="submit") Submit
