html
    head
        title Sopping mall queues
        //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        style.
            th{
                margin-left:100px;
                padding-left:10px;    
                color:blue;
            }
            td {
                vertical-align: top;
                padding-left:10px;    
                text-align:center;
                font-size:30px;
            }
            input{
                display:inline;
                float:left;
            }
            table{
                font-size:20px
            }

    body
        h1  Shopping Experience Survey
        //- p(style={padding:'20px'}).
        //-         Imagine you are in a retail grocery store (Super market) to buy your day to day requirements. Upon
        //-         buying the required products you come in to the counter area and witness 3 service queues
        //- .container
        //-     .col 
        table(style={margin:'10px','margin-top':'20px'})
            tr#headtag
                th 
                th.a A
                th.b B
                th.c C
            tr  
                th  Queue
                td.a#a-q
                td.b#b-q
                td.c#c-q
            tr  
                th  Service Rate
                td.a#a-sr 55/hr
                td.b#b-sr 45/hr
                td.c#c-sr 38/hr

        .container#queue1(style="display:block;padding:5px;position:relative;left:5%")
            | Which queue do you join? 
            br
            br
            //- label.radio-inline
            input(type="radio" name="queue" value="A" class="queue1")
            input(type="radio" name="queue" value="B" class="queue1")
            input(type="radio" name="queue" value="C" class="queue1")
            br
            p(style="margin-left:10px") A B C

        .container#optionsBox1(style="display:none;padding:5px;position:relative;;left:5%")
            | It seems there is an unusually long waiting time ahead of you.
            | You have following options. 

            .row
                input(type="radio" id="radioA" name="option1" value="1" class="option")
                p.
                    Remain on the same queue
 
            .row
                input(type="radio" id="radioB" name="option1" value="2" class="option")
                p.
                    Choose to move to a different queue
                .row#queue2(style="margin-left:25px;display:none")
                    input(type="radio" name="queue" value="A" class="queue2")
                    input(type="radio" name="queue" value="B" class="queue2")
                    input(type="radio" name="queue" value="C" class="queue2") 
                    br
                    p(style="margin-left:10px") A B C                   

        
        .container#optionsBox2(style="display:none;padding:5px;position:relative;;left:5%")
            | It seems others are jockeying. (A customer enters one line and then switches to a different one in an effort to reduce the waiting time.)
            | You have following options. 

            .row
                input(type="radio" id="radioA" name="option2" value="1" class="option")
                p.
                    Remain on the same queue
 
            .row
                input(type="radio" id="radioB" name="option2" value="2" class="option")
                p.
                    Choose to move to a different queue
                .row#queue3(style="margin-left:25px;display:none")
                    input(type="radio" name="queue" value="A" class="queue3")
                    input(type="radio" name="queue" value="B" class="queue3")
                    input(type="radio" name="queue" value="C" class="queue3") 
                    br
                    p(style="margin-left:10px") A B C 


        button(type="button" onclick="save()" style="margin-top:20px;margin-left:10px;")="Submit"

        script.
            var vals=[];
            max_no=10;

            function setup(){

                a_txt=""; b_txt=""; c_txt="";
                for(i=0;i<vals[0];i++){
                    a_txt+="#<br>";
                }
                for(i=0;i<vals[1];i++){
                    b_txt+="#<br>";
                }
                for(i=0;i<vals[2];i++){
                    c_txt+="#<br>";
                }


                $('#a-q').html(a_txt);
                $('#b-q').html(b_txt);
                $('#c-q').html(c_txt);

                //console.log(a,b,c);
            }

            function run(){
                //- vals[0]=1+Math.floor(Math.random()*10)%max_no;
                //- vals[1]=1+Math.floor(Math.random()*10)%max_no;
                //- vals[2]=1+Math.floor(Math.random()*10)%max_no;
                vals[0]=9; //a
                vals[1]=5; //a
                vals[2]=7; //a
                setup();

                window.setInterval(function () {
                    n=Math.floor(Math.random()*10)%3;

                    if(vals[n]>0){
                        //console.log(vals[n]);
                        vals[n]--;
                        if(vals[0]==3 || vals[1]==0 || vals[2]==1){
                            setTimeout(function(){
                                console.log("long delay over..");
                            },180000)
                        }
                    }
                    setup();

                }, 120000); //will call the function after 2 secs.

                setTimeout(function(){
                    $('#queue1').show();
                },1000);

                setTimeout(function(){
                    //name=$("#name").val();
                    //$(location).attr('href','/q1?name='+name);
                    $('#optionsBox1').show();
                },1000);

            }

            window.onload = function start() {
                run();
            }

            function save(){
                value=$('.queue1:checked').val()
                option=$('.option:checked').val()
                data={value:value,option:option};

                //if(name!=""){
                    $.post("/save", data,function(data,status){
                        alert("ok "+status+" "+JSON.stringify(data));
                        $(location).attr('href','/feedback');
                    })

            }
                
                $("input[name='queue'").change(function(){
                    switch(this.value){
                        case 'A':
                            $('.a').css({'border':'2px solid red'});
                            $('.b').css({'border':''});
                            $('.c').css({'border':''});
                            break;
                        case 'B':
                            $('.b').css({'border':'2px solid red'});
                            $('.a').css({'border':''});
                            $('.c').css({'border':''});
                            break;
                        case 'C':
                            $('.c').css({'border':'2px solid red'});
                            $('.a').css({'border':''});
                            $('.b').css({'border':''});
                            break;
                    }
                })

                $("input[name='option1'").change(function(){ // option set 1
                    switch(this.value){
                        case '1':
                            $('#queue2').hide();                            
                            $('#queue1').show();
                            break;
                        case '2':
                            $('#queue1').hide();
                            $('#queue2').show();
                            $('#optionsBox2').show();
                            break;
                            
                    }
                });

                $("input[name='option2'").change(function(){ // option set 2
                    switch(this.value){
                        case '1':
                            $('#queue3').hide();                            
                            $('#queue2').show();
                            break;
                        case '2':
                            $('#queue2').hide();
                            $('#queue3').show();
                            break;
                            
                    }
                });

                function optionSet2(){

                }