html
    head
        title Sopping mall queues
        //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        style.
            th{
                margin-left:100px;
                padding-left:10px;    
                color:blue;
            }
            td {
                vertical-align: top;
                padding-left:10px;    
            }
            input{
                display:inline;
                float:left;
            }
    body
        h1  Shopping Experience Survey
        p(style={padding:'20px'}).
                Imagine you are in a retail grocery store (Super market) to buy your day to day requirements. Upon
                buying the required products you come in to the counter area and witness 3 service queues
        //- .container
        //-     .col 
        table(style={margin:'10px','margin-top':'20px'})
            tr#headtag
                th 
                th A
                th B
                th C
            tr  
                th  Queue
                td#a-q
                td#b-q
                td#c-q
            tr  
                th  Service Rate
                td#a-sr
                td#b-sr
                td#c-sr
            tr
                th Length
                td#a-l
                td#b-l
                td#c-l

        .container#question(style="display:none;padding:5px;position:relative;left:5%")
            | Which queue do you join? 
            br
            br
            //- label.radio-inline
            input(type="radio" name="queue" value="A" class="queue")
            input(type="radio" name="queue" value="B" class="queue")
            input(type="radio" name="queue" value="C" class="queue")
            br
            p(style="margin-left:10px") A B C

        .container#options_box(style="display:none;padding:5px;position:relative;;left:5%")
            | It seems there is an unusually long waiting time ahead of you.
            | You have following options. 

            .row
                input(type="radio" name="option" value="1" class="option")
                p.
                    You can change queues, would you? If so what queue? ( 3 queue options should be given to
                    select, upon selecting they are directed to that queue and would start waiting in the respective
                    queue)
            .row
                input(type="radio" name="option" value="2" class="option")
                p.
                    You wish to stay in the same line, no changes.
                
            .row
                input(type="radio" name="option" value="3" class="option")
                p.
                    Provide feedback/complaint.

            button(type="button" onclick="save()" style="margin-top:20px;margin-left:10px;")="Submit"
            

        //input(type="button" value="Click" onclick="run()")
        script.
            var vals=[];
            max_no=10;

            function setup(){

                a_txt=""; b_txt=""; c_txt="";
                for(i=0;i<vals[0];i++){
                    a_txt+="#<br>";
                }
                for(i=0;i<vals[1];i++){
                    b_txt+="#<br>";
                }
                for(i=0;i<vals[2];i++){
                    c_txt+="#<br>";
                }


                $('#a-q').html(a_txt);
                $('#b-q').html(b_txt);
                $('#c-q').html(c_txt);

                //console.log(a,b,c);
            }

            function run(){
                //- vals[0]=1+Math.floor(Math.random()*10)%max_no;
                //- vals[1]=1+Math.floor(Math.random()*10)%max_no;
                //- vals[2]=1+Math.floor(Math.random()*10)%max_no;
                vals[0]=9; //a
                vals[1]=5; //a
                vals[2]=7; //a
                setup();

                window.setInterval(function () {
                    n=Math.floor(Math.random()*10)%3;

                    if(vals[n]>0){
                        //console.log(vals[n]);
                        vals[n]--;
                        if(vals[0]==3 || vals[1]==0 || vals[2]==1){
                            setTimeout(function(){
                                console.log("long delay over..");
                            },180000)
                        }
                    }
                    setup();
                    
                }, 120000); //will call the function after 2 secs.

                setTimeout(function(){
                    $('#question').show();

                    console.log("3 timeout");
                },1000);

                setTimeout(function(){
                    //name=$("#name").val();
                    //$(location).attr('href','/q1?name='+name);
                    $('#options_box').show();
                    
                },1000);
            }

            window.onload = function start() {
                run();
            }

            function save(){
                value=$('.queue:checked').val()
                name=$("#name").val();
                option=$('.option:checked').val()
                data={name:name,value:value,option:option,};

                //if(name!=""){
                    $.post("/save", data,function(data,status){
                        alert("ok "+status+" "+JSON.stringify(data));
                        if(option==3){
                            $(location).attr('href','/feedback?name='+name);
                        }else{
                            $(location).attr('href','/thank');
                        }
                    })
                
            }